/*.car-color-indicator {
	@include circle(10px);
	display: inline-block;
	margin-bottom:-5px;
	margin-left:5px;
}*/
.car-color-badge {
  display: inline-block;
  border-radius: 20px;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 35px; }

.ma-card img {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  opacity: 0.7; }
  .ma-card img:hover {
    opacity: 1.0; }

.ma-checkbox-inline-label {
  margin-left: 30px; }

.ma-dropdown-tray {
  width: 150px; }
  .ma-dropdown-tray li {
    justify-content: space-around;
    align-items: center; }
    .ma-dropdown-tray li a {
      line-height: 44px;
      display: flex;
      flex: 1 1 auto;
      padding: 0px !important; }
    .ma-dropdown-tray li i.material-icons {
      margin-top: 9px;
      margin-right: 15px;
      margin-left: 10px; }

.inline {
  display: inline; }

.container-flex {
  display: flex; }
  .container-flex.start {
    justify-content: flex-start; }
  .container-flex.align-center {
    align-items: center; }
  .container-flex.around {
    justify-content: space-around; }
  .container-flex.between {
    justify-content: space-between; }
  .container-flex.center {
    justify-content: center; }
  .container-flex.end {
    justify-content: flex-end; }

.flex-item {
  flex: 0 1 auto; }

.field-validation-error, .field-validation-valid {
  color: #f44336; }

.form-control[disabled],
.form-group .form-control[disabled] {
  color: rgba(0, 0, 0, 0.75) !important;
  border-bottom: none !important; }

.ma-inline-form {
  display: inline !important; }

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

.multiselect-native-select .multiselect-container.dropdown-menu li:not(.multiselect-filter) {
  height: 38px; }

.multiselect-native-select .multiselect-container.dropdown-menu li.active {
  background-color: #e5e5e5; }
  .multiselect-native-select .multiselect-container.dropdown-menu li.active label {
    background-color: #e5e5e5;
    color: #009688 !important;
    font-size: 16px; }
    .multiselect-native-select .multiselect-container.dropdown-menu li.active label input[type=checkbox] {
      opacity: 1;
      height: 20px;
      width: 20px;
      left: 10px;
      top: 5px;
      z-index: 1;
      -webkit-appearance: checkbox;
      -webkit-appearance: none;
      -moz-appearance: none; }

.multiselect-native-select .multiselect-container.dropdown-menu li label {
  font-size: 16px;
  color: #555;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none; }

.multiselect-native-select .multiselect-container.dropdown-menu button.multiselect-clear-filter i {
  font-size: 18px; }

.multiselect-native-select .multiselect-selected-text {
  text-transform: none;
  color: #009688;
  font-size: 16px; }

.ma-progress-bar {
  visibility: hidden;
  margin-top: -20px; }
  .ma-progress-bar [role="progressbar"] {
    width: 45%; }

i.recommended-service.immediate {
  color: red; }

i.recommended-service.moderate {
  color: orange; }

i.recommended-service.watch {
  color: #888; }

i.recommended-service.maintenance {
  color: mediumblue; }

i.recommended-service.notes {
  color: black; }

i.recommended-service.unknown {
  color: saddlebrown; }

span.recommended-service.label {
  border-radius: 5px; }
  span.recommended-service.label.immediate {
    color: #fff;
    background-color: red; }
  span.recommended-service.label.moderate {
    color: #fff;
    background-color: orange; }
  span.recommended-service.label.watch {
    color: #fff;
    background-color: #888; }
  span.recommended-service.label.maintenance {
    color: #fff;
    background-color: mediumblue; }
  span.recommended-service.label.notes {
    color: #fff;
    background-color: black; }
  span.recommended-service.label.unknown {
    color: #fff;
    background-color: saddlebrown; }

.scrtabs-tab-container * {
  box-sizing: border-box; }

.scrtabs-tab-container {
  height: 55px; }
  .scrtabs-tab-container .tab-content {
    clear: left; }

.scrtabs-tab-container.scrtabs-bootstrap4 .scrtabs-tabs-movable-container > .navbar-nav {
  -ms-flex-direction: row;
  flex-direction: row; }

.scrtabs-tabs-fixed-container {
  float: left;
  height: 55px;
  overflow: hidden;
  width: 100%; }

.scrtabs-tabs-movable-container {
  position: relative; }
  .scrtabs-tabs-movable-container .tab-content {
    display: none; }

.scrtabs-tab-container.scrtabs-rtl .scrtabs-tabs-movable-container > ul.nav-tabs {
  padding-right: 0; }

.scrtabs-tab-scroll-arrow {
  border: 1px solid #dddddd;
  border-top: none;
  color: #428bca;
  cursor: pointer;
  display: none;
  float: left;
  font-size: 12px;
  height: 55px;
  margin-bottom: -1px;
  padding-left: 2px;
  padding-top: 13px;
  width: 20px; }
  .scrtabs-tab-scroll-arrow:hover {
    background-color: #eeeeee; }

.scrtabs-tab-scroll-arrow.scrtabs-disable {
  color: #ddd;
  cursor: default; }

.scrtabs-tabs-fixed-container ul.nav-tabs > li {
  white-space: nowrap; }

.scrtabs-tab-scroll-arrow.scrtabs-tab-scroll-arrow-left, .scrtabs-tab-scroll-arrow.scrtabs-tab-scroll-arrow-right {
  padding: 0;
  width: 38px; }
  .scrtabs-tab-scroll-arrow.scrtabs-tab-scroll-arrow-left.scrtabs-disable, .scrtabs-tab-scroll-arrow.scrtabs-tab-scroll-arrow-right.scrtabs-disable {
    opacity: 0.3; }
  .scrtabs-tab-scroll-arrow.scrtabs-tab-scroll-arrow-left a, .scrtabs-tab-scroll-arrow.scrtabs-tab-scroll-arrow-right a {
    line-height: 40px; }

.scrtabs-tab-container .nav.nav-tabs {
  background-color: transparent; }
  .scrtabs-tab-container .nav.nav-tabs li {
    height: 55px; }
    .scrtabs-tab-container .nav.nav-tabs li.active {
      background-color: #03a9f4; }
      .scrtabs-tab-container .nav.nav-tabs li.active a {
        color: #fff !important; }
    .scrtabs-tab-container .nav.nav-tabs li a {
      color: #000 !important;
      line-height: 35px;
      font-weight: bold; }

.ma-tab-container {
  height: 60px; }
  .ma-tab-container a {
    font-weight: bold !important;
    padding-top: 17px; }

@media screen and (max-width: 767px) {
  table.dataTable.table-responsive {
    border: none !important; } }

table.dataTable.no-footer {
  border-bottom: none; }

table.dataTable tbody tr:hover {
  background-color: rgba(0, 178, 178, 0.08) !important; }

table.dataTable tbody tr.selected {
  background-color: rgba(0, 178, 178, 0.2) !important; }

table .checkbox-with-label {
  margin-right: 15px; }

table tbody tr {
  cursor: pointer !important; }
  table tbody tr td {
    vertical-align: middle !important; }
    table tbody tr td.color-indicator {
      width: 10px !important;
      padding: 0px !important;
      opacity: 0.8;
      border: 1px solid black;
      border-top: none;
      border-bottom: none; }

.dataTables_wrapper .dataTables_info {
  color: #03a9f4; }

.dataTables_wrapper .dataTables_length {
  padding-top: 10px; }
  .dataTables_wrapper .dataTables_length label {
    color: #009688; }
    .dataTables_wrapper .dataTables_length label select {
      text-align: center;
      text-align-last: center;
      width: 80px;
      border: none; }

.dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  border: none;
  background: none !important; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #009688 !important; }
  .dataTables_wrapper .dataTables_paginate .paginate_button[disabled] {
    color: rgba(0, 0, 0, 0.26);
    background: transparent; }
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #009688 !important;
    background-color: rgba(153, 153, 153, 0.2) !important; }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    background-color: #009688 !important; }

.ma-toast {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  margin-top: 20px;
  padding-right: 0px;
  white-space: pre-wrap;
  font-weight: bold; }
  .ma-toast button {
    margin: 0px !important; }

.ma-toolbar {
  background-color: #eeeeee;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 9px 31px; }

.ma-nav-info {
  background-color: inherit;
  margin-bottom: 0;
  line-height: 40px;
  font-weight: bold; }

